.button
{
    margin-top: 50px;

    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    border: solid;
    border-radius: 15px;
    padding: 25px 50px;
}

.button:hover
{
    color: white;
    background-color: black;
}